.bss_link {
	width:120px !important;
	padding: 0 0 0 0 !important;
}

.magnet img {
	margin: 0 5px 2px 0;
}

.fv_icon  {
	width:18px;
	height:18px;
}

.download-icon {
	vertical-align: inherit !important;
}